#cabecalho{
    background-color:#BB86FC ;
}

#cabecalho1{
    background-color: #00c4b4;
}

#TR1{
    background-color: #424250;
}


th{
    padding: 25px;
    color: white;
}

td{
    padding: 15px;
    color: white;
}



